body{
    width: 100vw;
    height: auto;
    background: black;
    margin: -3px 0 0 -3px;
}
#header {
	background-image: linear-gradient(lightgrey 33%, grey);
	position: relative;
	top: 0;
	width: 100%;
	min-width: 1000px;
	z-index: 2;
    color: #fff;
    text-align: center;

    height: 130px;
}
#wrapper{    
    width: 100vw;
    height: 100hh;
    background: powderblue;
}
h1{
    text-align: center;
}
img{
    height: 12vw;
    width:18vw;
    border-radius: 10px;
}
#grid-container{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto auto;
    margin:auto;
    gap: 5px;
    width: 100%;
    padding:0px;
    height: auto;
    background: salmon;
}
.grid-item{
    display: grid;
    height: 12vw;
    width:18vw;
    font-weight:bold;
    font-size:3.5vw;
    text-align:center;
    align-items: center;
    color:white;
    background: darkblue;
    border-width: 3px;
    border-color: yellow;
    border-radius: 10px;
}
.panel{
    display: inline;
    height: 5vw;
    min-height: 1.2em;
    width:18vw;
    margin: 2vw;
    font-weight:bold;
    font-size:2vw;
    text-align:center;
    align-items: center;
    color:white;
    background: darkblue;
    border-width: 3px;
    border-color: yellow;
    border-radius: 3vw;
}
.button-panel{
    display:block;
    justify-content: space-between;
    margin:auto;
}
a{
    color:aliceblue;
    text-decoration: none;
}
