body{
    width: 100vw;
    height: 100vh;
    background: black;
}
#header {
	background-image: linear-gradient(lightgrey 33%, grey);
	position: relative;
	top: 0;
	width: 100%;
	min-width: 1000px;
	z-index: 2;
    color: #fff;
    text-align: center;
    height: 130px;
}
#wrapper{    
    width: 100%;
    height: auto;
    background: powderblue;
}
h1{
    text-align: center;
}
img{
    height: 100px;
    width:180px;
    border-radius: 10px;
}
#grid-container{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto auto;
    margin:auto;
    gap: 5px;
    width: 95%;
    padding:5px;
    height: auto;
    background: salmon;
}
.grid-item{
    display: grid;
    gap: 10px;
    height: 100px;
    width:180px;
    margin:5px;
    font-weight:bold;
    font-size:36px;
    text-align:center;
    align-items: center;
    color:white;
    background: darkblue;
    border-width: 5px;
    border-color: yellow;
    border-radius: 10px;
}
.panel{
    display: inline;
    gap: 10px;
    height: 75px;
    width:20%;
    margin: 20px;
    font-weight:bold;
    font-size:24px;
    text-align:center;
    align-items: center;
    color:white;
    background: darkblue;
    border-width: 5px;
    border-color: yellow;
    border-radius: 10px;
}
.button-panel{
    display:block;
    justify-content: space-between;
    width: 100%;
}
a{
    color:aliceblue;
    text-decoration: none;
}
